.verify-email-container {
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.verify-email-container h2 {
    font-size: 1.5rem;
    color: #6d6d6d;
    font-weight: 600;
}

.verify-email-container h2.success {
    color: green;
}

.verify-email-container h2.already-verified {
    color: #ff9800;
}

.verify-email-container h2.invalid {
    color: red;
}

body.dark-mode .verify-email-container {
    background-color: transparent;
}